# https://dart.dev/guides/libraries/private-files
.dart_tool/
.packages
.pub/
.pub-cache/
build/

# Melos
.melos/
pubspec_overrides.yaml

# Flutter/Dart
.flutter-plugins
.flutter-plugins-dependencies
.metadata

# IDE files
.idea/
*.iml
*.iws
*.ipr
.vscode/

# Logs
*.log

# OS files
.DS_Store

# FVM Version Cache
.fvm/
.fvmrc
/.antigravitycli/
